---
import type { CompanySetting } from '@/api'
import type { PageMetadata } from '@/modules/page'

interface Props {
  // metadata
  metadata: PageMetadata
  companySetting: CompanySetting

  // layout features
  // ...
}

const {
  metadata,
  companySetting,
} = Astro.props

// const pathname = new URL(Astro.request.url).pathname
---

<!doctype html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{metadata.seo_title || metadata.title} - {companySetting.name}</title>

    {metadata.seo_description && <meta name="description" content={metadata.seo_description} />}
    {metadata.seo_keyword && <meta name="keywords" content={metadata.seo_keyword} />}
    {metadata.og_title && <meta property="og:title" content={`${metadata.og_title} - ${companySetting.name}`} />}
    {metadata.og_description && <meta property="og:description" content={metadata.og_description} />}
    <!-- <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} /> -->
    <meta property="og:site_name" content={companySetting.name} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={metadata.og_image || companySetting.logo} />
    {metadata.seo_json_ld && <script is:inline type="application/ld+json" set:html={metadata.seo_json_ld}></script>}

    <slot name="head" />

    {metadata.seo_head && <Fragment set:html={metadata.seo_head} />}
  </head>
  <body>
    <slot />

    {metadata.seo_body && <Fragment set:html={metadata.seo_body} />}
  </body>
</html>
